body{
    background-color: lightslategrey;
}

.titulo{
    width: 40%;
    text-align: center;
    color: maroon;
    border: 2px dashed yellow;
    font-size: 20px;
    background-color: rgb(255, 145, 71);
    margin-left: 30%;
}

a{
    color: green;
    font-size: 35px;
    background-color: hotpink;
    border: 2px dotted black;
    /* tipo de fuente */
    font-family: fantasy;
    /* text decoration */
    text-decoration: none;

}

/* pseudo selectores */
/* [selector]:hover*/

a:hover{
    color: black;
    font-size: 45px;
    background-color: burlywood;
}